[Desktop Entry]
Name=jamming_bot
GenericName=Terminal
Comment=Use the command line
TryExec=lxterminal
Exec=lxterminal -e "cd /home/pi/jamming_bot/; /home/pi/jamming_bot/.venv/bin/python /home/pi/jamming_bot/jamming_bot.py"  
Icon=lxterminal
Type=Application
Categories=GTK;Utility;TerminalEmulator;
Keywords=console;command line;execute;
